Flask
h5py
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
Keras
Keras-Preprocessing
kiwisolver
notebook
numpy
pyrsistent
python-dateutil
requests
requests-oauthlib
rsa
scikit-learn
scipy
sklearn
tensorboard
tensorboard-plugin-wit
tensorflow-cpu
tensorflow-estimator
webencodings
gunicorn
Werkzeug
widgetsnbextension
